

footer {
    background-color: black;
}

footer li {
    color: wheat;
}

* {
    padding: 0px;
    margin: 0px;
}

body {

}

header, main, footer {
    width: 80%;
    margin-left: 10%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

article {
    width: 80%;
    padding: 20px;

}

article p {
    font-family: "Nanum Pen Script", cursive;
    font-weight: 400;
    font-style: normal;
}

section {
    width: 30%;
}

section.s1 {
    width: 500px;
    border: 5px solid;
    padding: 25px;
    margin: 15px;
    /* 박스사이징 지정안하면 콘텐츠 크기가 500px */
}

section.s2 {
    width: 500px;
    border: 5px solid;
    padding: 25px;
    margin: 15px;
    box-sizing: border-box; 
    /* 박스사이징은 박스 크기가 500px */
}

span {
    font-weight: bolder;
    display: inline-block;
    /* block과 inline-block의 차이는 인라인 블록은 블록들이 한줄이됨 */
}

header a {
    display: inline-block;
    width: 100px;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;

    text-decoration:none;
    text-align: center;

    background-color: aqua;
}

header a:hover {
    background-color: red;
}

ul {
    list-style: none;
    display: flex;
    /* 정렬방향 */
    flex-direction: row-reverse;
    /* flex-direction에 대하여 (지금은 수평) 정렬 */
    justify-content: center; 
    /* flex-direction에 반대하여 (지금은 수직) 정렬 */
    align-items: center;

    width: 100%;
    height: 150px;

    border: 1px, solid;
}

li {
    /* display: inline; */
}

@media screen (min-width: 767px) {
    header, main, footer{
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;

        background-color: aliceblue;
    }
}
