main {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.btDiv {
    display: flex;
}

button {
    padding: 10px; 
    margin: 5px 15px;
    
    border-radius: 10px;
    border: 1px;

    background-color: brown;
    color: white;
}

button:hover {
    background-color: chocolate;
    cursor: pointer;
}